* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Circular Std', sans-serif;
}

img {
    max-width: 100%;
}

/* #region utilities */

:root {
    --dark: #282828;
    --darker: #000000;
    --light: #d2d2d2;
    --grey: #a3a3a3;
    --green: #91d52d;
}

.container_90 {
    width: 90%;
    margin: 0 auto;
}

.mw_1200 {
    max-width: 1200px;
}

.my_05 {
    margin: 0.5rem auto;
}

.my_1 {
    margin: 1rem auto;
}

.d_flex {
    display: flex;
}

.direction_column {
    flex-direction: column;
}

.jc_end {
    justify-content: end;
}


.ta_r {
    text-align: end;
}

.ta_c {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.unstyled {
    list-style: none;
}

.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: calc(100% / 12 * 12);
}

/* #endregion utilities */

/* #region debug */

.debug .top {
    background-color: blueviolet;
}

.debug footer {
    background-color: aqua;
}

.debug .sidebar {
    background-color: bisque;
}

.debug .content {
    background-color: brown;
}

.sidebar_bottom {
    background-color: blue;
}

.sidebar_top {
    background-color: chartreuse;
}

.debug .card {
    background-color: #be12a2;

}

/* #endregion debug */

/* #region top */

/* sidebar */

.top {
    height: calc(100vh - 90px);
    display: flex;
}

.top .logo_lg {
    display: none;
}

.sidebar_icon_text {
    display: none;
}

.top>.sidebar {
    width: 50px;
    overflow-y: hidden;
}

.top .sidebar_top {
    height: calc(100% - 90px);
    background-color: var(--darker);
}

.top .sidebar_bottom {
    background-color: var(--darker);
    height: 90px;
}

.playlist {
    display: none;
}

.sidebar_menu {
    margin: 1rem 0;
}

.sidebar_menu .row {
    align-items: center;
    color: white;
}

.playlist h3 {
    color: white;
    font-weight: 900;
}

.playlist .col_12 {
    padding: 0.5rem 0;
}

.playlist .row {
    color: var(--grey);
    justify-content: center;
}

.sidebar_bottom .col_s_2 {
    text-align: center;
}

.sidebar_bottom .col_10 {
    color: var(--light);
    justify-content: baseline;
}

.download_icon {
    color: var(--grey);
    width: 20px;
}

.profile_icon {
    width: 80%;
    background-color: var(--grey);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.download_now {
    font-size: 10px;
    color: var(--grey);
}



/* main */

.top>.content {
    width: calc(100% - 50px);
    overflow-y: auto;
    background-color: #141922;
}

.nav_bar ul {
    justify-content: center;
    align-items: center;
}

.nav_bar li {
    padding: 1rem;
}

.content a {
    color: var(--grey);
    text-decoration: none;
}

.upgrade {
    background-color: #080b1279;
    position: sticky;
    top: 0;
    right: 0;
    height: 90px;
    justify-content: end;
    align-items: center;
}

.btn a {
    color: white;
    margin-right: 2rem;
    border: 2px solid white;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.main_content h1{
    padding: 2rem 0;
    color: white;
}

.main_content h2{
    color: white;
    font-size: 1rem;
}

.main_content .card{
    padding: 0.5rem;
    height: 100%;
}

.card_text{
    text-align: center;
}

.subtitle{
    color: var(--grey);
}



/* #endregion top */

/* #region footer */

footer.bottom {
    height: 90px;
    background-color: var(--dark);
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: #5f5f5f;
    border-radius: 5px;
    cursor: pointer;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #2bdf13;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.track .row {
    height: 90px;
    align-items: center;
    color: var(--light);
}

.track [class^="col"] {
    padding: 0 0.5rem;
}

.track span,
.play_menu span {
    font-size: 10px;
}

.volume .row {
    justify-content: end;
    height: 90px;
    color: var(--light);
    align-items: center;
    padding-right: 0.5rem;
}

.play_menu .row {
    margin: 0.6rem;
    height: 30px;
    color: var(--light);
    justify-content: center;
    align-items: center;
}

.fa-circle-play {
    font-size: 2rem;
}

/* #endregion footer */

/* #region mediaquery */

/* MEDIAQUERY S */
@media screen and (min-width: 480px) {

    .col_s_2 {
        width: calc(100% / 12 * 2);
    }

    .col_s_3 {
        width: calc(100% / 12 * 3);
    }

    .col_s_4 {
        width: calc(100% / 12 * 4);
    }

    .col_s_5 {
        width: calc(100% / 12 * 5);
    }

    .col_s_6 {
        width: calc(100% / 12 * 6);
    }

    .col_s_7 {
        width: calc(100% / 12 * 7);
    }

    .col_s_8 {
        width: calc(100% / 12 * 8);
    }

    .col_s_9 {
        width: calc(100% / 12 * 9);
    }

    .col_s_10 {
        width: calc(100% / 12 * 10);
    }

    .col_s_11 {
        width: calc(100% / 12 * 11);
    }

    .col_s_12 {
        width: calc(100% / 12 * 12);
    }

    .top>.sidebar {
        width: 230px;
    }

    .top>.content {
        width: calc(100% - 230px);
    }

    .top .logo_xs {
        display: none;
    }

    .top .logo_lg {
        display: block;
    }

    .sidebar_icon_text {
        display: inline;
    }

    .playlist {
        display: inline;
    }

    .bb_grey {
        border-bottom: 1px solid var(--grey);
    }

}

/* MEDIAQUERY MD */
@media screen and (min-width: 768px) {

    .col_md_1 {
        width: calc(100% / 12 * 1);
    }

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }

    .col_md_5 {
        width: calc(100% / 12 * 5);
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }

    .col_md_7 {
        width: calc(100% / 12 * 7);
    }

    .col_md_8 {
        width: calc(100% / 12 * 8);
    }

    .col_md_9 {
        width: calc(100% / 12 * 9);
    }

    .col_md_10 {
        width: calc(100% / 12 * 10);
    }

    .col_md_11 {
        width: calc(100% / 12 * 11);
    }

    .col_md_12 {
        width: calc(100% / 12 * 12);
    }

}

/* MEDIAQUERY LG */
@media screen and (min-width: 1280px) {

    .col_lg_1 {
        width: calc(100% / 12 * 1);
    }

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_5 {
        width: calc(100% / 12 * 5);
    }

    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }

    .col_lg_7 {
        width: calc(100% / 12 * 7);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .col_lg_9 {
        width: calc(100% / 12 * 9);
    }

    .col_lg_10 {
        width: calc(100% / 12 * 10);
    }

    .col_lg_11 {
        width: calc(100% / 12 * 11);
    }

    .col_lg_12 {
        width: calc(100% / 12 * 12);
    }

    .main_content h2{
        color: white;
        font-size: 1.5rem;
    }
}



/* #endregion mediaquery */