* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* #region utilities */

:root {
    --dark: #141922;
    --darker: #000000;
    --light: #d2d2d2;
    --grey: #a3a3a3;
    --green: #91d52d;
}

.container_90 {
    width: 90%;
    margin: 0 auto;
}

.mw_1200 {
    max-width: 1200px;
}

.d_flex {
    display: flex;
}

.direction_column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.unstyled {
    list-style: none;
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: calc(100% / 12 * 12);
}

/* #endregion utilities */

/* #region debug */

.debug .top {
    background-color: blueviolet;
}

.debug footer {
    background-color: aqua;
}

.debug .sidebar {
    background-color: bisque;
}

.debug .content {
    background-color: brown;
}

.sidebar_bottom {
    background-color: blue;
}

.sidebar_top {
    background-color: chartreuse;
}

.debug .card {
    background-color: #be12a2;

}

/* #endregion debug */

/* #region top */

/* sidebar */

.top {
    height: calc(100vh - 80px);
    display: flex;
}

.top .logo_lg {
    display: none;
}

.sidebar_icon_text {
    display: none;
}

.top>.sidebar {
    width: 70px;
    overflow-y: hidden;
}

.top .sidebar_top {
    height: calc(100% - 90px);
}

.top .sidebar_bottom {
    height: 90px;
}

.playlist {
    display: none;
}


/* main */

.top>.content {
    width: calc(100% - 70px);
    overflow-y: auto;
}

.nav_bar ul {
    justify-content: center;
    align-items: center;
}

.nav_bar li {
    padding: 1rem;
}

.content a {
    text-decoration: none;
}

.upgrade{
    background-color: var(--darker);
    position: sticky;
    top: 0;
    right: 0;
    height: 40px;
    justify-content: end;
}

/* footer */

footer.bottom {
    height: 80px;
}

/* #endregion top */

/* #region footer */

/* #endregion footer */


/* #region mediaquery */

/* MEDIAQUERY S */
@media screen and (min-width: 480px) {

    .col_s_2 {
        width: calc(100% / 12 * 2);
    }

    .col_s_3 {
        width: calc(100% / 12 * 3);
    }

    .col_s_4 {
        width: calc(100% / 12 * 4);
    }

    .col_s_5 {
        width: calc(100% / 12 * 5);
    }

    .col_s_6 {
        width: calc(100% / 12 * 6);
    }

    .col_s_7 {
        width: calc(100% / 12 * 7);
    }

    .col_s_8 {
        width: calc(100% / 12 * 8);
    }

    .col_s_9 {
        width: calc(100% / 12 * 9);
    }

    .col_s_10 {
        width: calc(100% / 12 * 10);
    }

    .col_s_11 {
        width: calc(100% / 12 * 11);
    }

    .col_s_12 {
        width: calc(100% / 12 * 12);
    }

    .top>.sidebar {
        width: 220px;
    }

    .top>.content {
        width: calc(100% - 220px);
    }

    .top .logo_xs {
        display: none;
    }

    .top .logo_lg {
        display: block;
    }

    .sidebar_icon_text {
        display: inline;
    }

    .playlist {
        display: inline;
    }

}

/* MEDIAQUERY MD */
@media screen and (min-width: 768px) {

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }

    .col_md_5 {
        width: calc(100% / 12 * 5);
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }

    .col_md_7 {
        width: calc(100% / 12 * 7);
    }

    .col_md_8 {
        width: calc(100% / 12 * 8);
    }

    .col_md_9 {
        width: calc(100% / 12 * 9);
    }

    .col_md_10 {
        width: calc(100% / 12 * 10);
    }

    .col_md_11 {
        width: calc(100% / 12 * 11);
    }

    .col_md_12 {
        width: calc(100% / 12 * 12);
    }

}

/* MEDIAQUERY LG */
@media screen and (min-width: 1280px) {

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_5 {
        width: calc(100% / 12 * 5);
    }

    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }

    .col_lg_7 {
        width: calc(100% / 12 * 7);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .col_lg_9 {
        width: calc(100% / 12 * 9);
    }

    .col_lg_10 {
        width: calc(100% / 12 * 10);
    }

    .col_lg_11 {
        width: calc(100% / 12 * 11);
    }

    .col_lg_12 {
        width: calc(100% / 12 * 12);
    }
}



/* #endregion mediaquery */